{% extends 'layout.html.twig' %}


{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/list.css">
{% endblock %}
{% block content %}
	<pre>
    
</pre>

	<div class="pill rounded-pill border border-2 p-2 my-5 shadow-sm text-center ">
		<h3 class='titre '>Tout Vos Produits</h3>
	</div>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ">
			{% for product in products %}


				<div class="col-xs">

					<div class="card body  ">

						<img src="/assets/frigo.jpg" class="card-img-top" alt="...">

						<h2 class="card-title">{{ product.name }}</h2>
						<p class="card-text">N'oubliez pas de manger vos articles avant la date.</p>
					</div>
					<div class="card-footer">

						<div class="alert alert-success" role="alert">
							Date d'ajout :
							{{ product.DateCreation }}

						</div>

						<div class="alert alert-danger" role="alert">
							Date Limite :
							{{ product.DateExpiration }}


						</div>
						<a href="/products/deleteproduct?id={{product.id}}" type="button" class="btn btn-danger">Supprimer</a>
						<a href="/products/editproduct?id={{product.id}}" type="button" class="btn btn-primary">Modifier</a>
					</div>

				</div>
			{% endfor %}
		</div>
	{% endblock %}
